{% extends 'layouts/base.html' %}

{% block title %} {{scan.session_timestamp.strftime('%Y-%m-%d-%H-%M-%S%Z')}} / Scan {{scan.seq}} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{scan.session_timestamp.strftime('%Y-%m-%d %H:%M:%S %Z')}} / Scan {{scan.seq}}</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="/scans" class="btn btn-sm btn-neutral">Scans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">

        <div class="card card-stats">
          <!-- Scan information -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Information</h5>
              </div>
            </div>
            <h5>Session timestamp</h5>
            <p class="text-sm">{{ scan.session_timestamp }}</p>
            <h5>Scan number</h5>
            <p class="text-sm">{{ scan.seq }}</p>
            <h5>Scan timestamp</h5>
            <p class="text-sm">{{ scan.timestamp }}</p>
            <h5>Description</h5>
            <p class="text-sm">{{ scan.title }}</p>
            <h5>Notes</h5>
            <p class="text-sm">{{ scan.notes }}</p>
          </div>
        </div>

        <div class="card card-stats">
          <!-- Scan images -->
          <div class="card-body">
            {% for burst in scan_results.bursts %}
            <div id="burst-{{ burst.timestamp.strftime('%Y-%m-%d-%H-%M-%S%Z') }}" class="burst">
              <button data-toggle="collapse" data-target="#burst-{{ burst.timestamp.strftime('%Y-%m-%d-%H-%M-%S%Z') }}-shots" aria-expanded="false">
                <h5>Burst {{ burst.seq }}</h5>
                {% for variable_name, value in burst.averages.items() %}
                  {{ variable_name }} = {{ value }}<br/>
                {% endfor %}
              </button>

              <div id="burst-{{ burst.timestamp.strftime('%Y-%m-%d-%H-%M-%S%Z') }}-shots" class="collapse burst-shots">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Measurements</th>
                      <th scope="col" class="sort" data-sort="description">Pointing/Spectrum image</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for shot_data in burst.shots %}
                    <tr>
                      <td scope="row">
                        {% for variable_name, value in shot_data.measurements.items() %}
                          {{ variable_name }} = {{ value }}<br/>
                        {% endfor %}
                      </td>
                      <td>
                        <img src="{{ url_for('home_blueprint.pointing_and_spectrum', 
                                       burst_timestamp=burst.timestamp.strftime('%Y-%m-%dT%H:%M:%S.%f'),
                                       shot_timestamp=shot_data.timestamp.strftime('%Y-%m-%dT%H:%M:%S.%f')
                                     )
                                  }}" alt="Pointing and spectrum" width="100%"/><br/>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
