.burst-summary {
    display: flex;
    align-items: center; /* Vertically center the items */
    border: 2px solid black;
}

.burst-summary button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 20px; 
    margin-right: 20px;
}

.burst-averages {
    padding: 5px 10px;
}

div.burst-averages td,
div.shot-measurements td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
}
